body {
    background-image: url('sauna2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }

  button {
    background-color:rgba(128, 128, 128, 0.5);
    left: 800px;
    top: 870px;
    width: 200px;
    height: 50px;
    position: fixed;
}